/* style.css
---------------------------------------*/

/* 
COLOR PALETTE
https://coolors.co/ec368d-ebebeb-387780-210124-131200
#EC368D - Deep Pink
#EBEBEB - Platinum
#387780 - Ming
#210124 - Dark Purple
#1F1A38 - Dark Purple
#131200 - Black Chocolate
*/

/* Global Styles
---------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ebebeb;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Forum", cursive;
}

.game-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  background-image: url(./images/pawel-czerwinski-2WGz4B9ePyM-unsplash.jpeg);
  background-size: cover;
  background-position: center;
}

/* Game Title
---------------------------------------*/
.title,
.ties {
  position: sticky;
  font-size: 3rem;
  font-weight: bolder;
  z-index: 2;
}

/* Score
---------------------------------------*/
.playerScore,
.playerChoice,
.computerScore,
.computerChoice,
.ties {
  font-size: 1.75rem;
}
/* .choices {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  margin-top: 200px;
  position: absolute;
  z-index: 1;
} */

/* Buttons - Style
---------------------------------------*/
.rock,
#rock,
.paper,
#paper,
.scissors,
#scissors {
  padding: 0.8rem;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  border-radius: 10px;
  background: #1f1a38;
  outline: 2px;
  border-color: #ec368d;
  border-width: 5px;
  border: solid;
  cursor: pointer;
}

.rock:hover,
#rock:hover,
.paper:hover,
#paper:hover,
.scissors:hover,
#scissors:hover {
  background: rgb(31, 26, 56, 80%);
  cursor: pointer;
  width: 110px;
  height: 110px;
}

.active {
  width: 110px;
  height: 110px;
}

.winner {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}

.winnerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reload Button - Style
---------------------------------------*/
.reset {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 105px;
  width: 125px;
  background: #ec368d;
  border: 5px;
  border-color: #131200;
  border-style: double;
  border-radius: 50%;
  cursor: pointer;
}

.reset:hover {
  background: rgb(236, 54, 141, 80%);
}

/* Responsive
---------------------------------------*/
@media screen and (max-width: 425px) {
  .title,
  .ties {
    text-align: center;
    font-size: 2rem;
  }
  .playerScore,
  .playerChoice,
  .computerScore,
  .computerChoice {
    position: sticky;
    height: 75vw
    width: 75vw;
  }
  .options {
    width: 100vw;
  }
}
